{% extends 'layouts/main.html' %}
{% set title = "What energy source does your " + data.techtechnology.toLowerCase() + " use?" %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" techenergysource="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.techenergysource %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - energy centres</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    {% if data.validationErrors.techenergysource %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.techenergysource.message}}
                    </p>
                    {% endif %}





                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource" name="techenergysource" type="radio" value="Ambient heat" {% if data.techenergysource=="Ambient heat" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource">
                                Ambient heat
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-2" name="techenergysource" type="radio" value="Biogas" {% if data.techenergysource=="Biogas" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-2">
                                Biogas
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-3" name="techenergysource" type="radio" value="Biomass" {% if data.techenergysource=="Biomass" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-3">
                                Biomass
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-4" name="techenergysource" type="radio" value="Diesel" {% if data.techenergysource=="Diesel" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-4">
                                Diesel
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-5" name="techenergysource" type="radio" value="Electricity" {% if data.techenergysource=="Electricity" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-5">
                               Electricity
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-6" name="techenergysource" type="radio" value="Geothermal" {% if data.techenergysource=="Geothermal" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-6">
                                Geothermal
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-7" name="techenergysource" type="radio" value="Hydrogen" {% if data.techenergysource=="Hydrogen" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-7">
                                Hydrogen
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-8" name="techenergysource" type="radio" value="Liquid Biofuel" {% if data.techenergysource=="Liquid Biofuel" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-8">
                                Liquid Biofuel
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-9" name="techenergysource" type="radio" value="Natural gas" {% if data.techenergysource=="Natural gas" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-9">
                                Natural gas
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-10" name="techenergysource" type="radio" value="Oil" {% if data.techenergysource=="Oil" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-10">
                                Oil
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-11" name="techenergysource" type="radio" value="Solar" {% if data.techenergysource=="Solar" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-11">
                                Solar
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-12" name="techenergysource" type="radio" value="Energy from burning waste" {% if data.techenergysource=="Energy from burning waste" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-12">
                                Energy from burning waste
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-13" name="techenergysource" type="radio" value="Waste heat" {% if data.techenergysource=="Waste heat" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-13">
                                Waste heat
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-12" name="techenergysource" type="radio" value="Energy from another heat network" {% if data.techenergysource=="Energy from another heat network" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techenergysource-12">
                                Energy from another heat network
                            </label>
                        </div>

                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techenergysource-15" name="techenergysource" type="radio" value="Other" {% if data.techenergysource=="Other" %}checked{% endif %} data-aria-controls="conditional-techenergysource">
                            <label class="govuk-label govuk-radios__label" for="techenergysource-15">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional" id="conditional-techenergysource">
                            <div class="govuk-form-group {% if data.validationErrors.techenergysourceother %}govuk-form-group--error{% endif %}">
                                <label class="govuk-label" for="techenergysourceother">
                                    Name of energy source
                                </label>
                                {% if data.validationErrors.techenergysourceother %}
                                <p class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    {{data.validationErrors.techenergysourceother.message}}
                                </p>
                                {% endif %}
                                <input class="govuk-input {% if data.validationErrors.techenergysourceother %}govuk-input--error{% endif %}" id="techenergysourceother" name="techenergysourceother" type="text" spellcheck="false" value="{{data.techenergysourceother}}">
                            </div>
                        </div>
                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>

    </div>

</div>

{% endblock %}