{% extends 'layouts/main.html' %}
{% set title = "Is the system capable of thermal storage?" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
   {{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form  method="POST" novalidate >

            <div class="govuk-form-group {% if data.validationErrors.techstorage %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" >

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <span class="govuk-caption-l">Add a heat network - energy centres</span>
                      <h1 class="govuk-fieldset__heading">
                               {{title}}
                        </h1>

                        </legend>
                        {% if data.validationErrors.techstorage %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.techstorage.message}}
                </p>
                {% endif %}
<div class="govuk-radios govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="techstorage" name="techstorage" type="radio" value="Yes" {% if data.techstorage == "Yes" %}checked{% endif %} data-aria-controls="conditional-techstorage">
        <label class="govuk-label govuk-radios__label" for="techstorage">
          Yes
        </label>
      </div>
    <div class="govuk-radios__conditional" id="conditional-techstorage">
        <div class="govuk-form-group {% if data.validationErrors.techstoragecapacity %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="techstoragecapacity">
            Enter capacity (optional)
          </label>
                        {% if data.validationErrors.techstoragecapacity %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{data.validationErrors.techstoragecapacity.message}}
                </p>
                {% endif %}
          <div class="govuk-input__wrapper"><input class="govuk-input {% if data.validationErrors.techstoragecapacity %}govuk-input--error{% endif %} govuk-input--width-5" id="techstoragecapacity" name="techstoragecapacity" type="number" spellcheck="false" value="{{data.techstoragecapacity}}">
            <div class="govuk-input__suffix" aria-hidden="true">m&#179;</div>
          </div>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="techstorage-2" name="techstorage" type="radio" value="No" {% if data.techstorage == "No" %}checked{% endif %}>
        <label class="govuk-label govuk-radios__label" for="techstorage-2">
          No
        </label>
      </div>
    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>
        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}