{% extends 'layouts/main.html' %}
{% set title = "Which technology in your network provides the largest proportion of the heat energy?" %}
{% set _inError = data.validationError == "true"  %}

{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" techtechnology="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.techtechnology %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - energy centres</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <div id="waste-hint" class="govuk-hint">
                        We will ask about other technologies later.
                    </div>
                    {% if data.validationErrors.techtechnology %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.techtechnology.message}}
                    </p>
                    {% endif %}





                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology" name="techtechnology" type="radio" value="Another heat network" {% if data.techtechnology=="Another heat network" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology">
                                Another heat network
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-1" name="techtechnology" type="radio" value="Boiler" {% if data.techtechnology=="Boiler" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-1">
                                Boiler
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-2" name="techtechnology" type="radio" value="Chiller" {% if data.techtechnology=="Chiller" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-2">
                                Chiller
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-3" name="techtechnology" type="radio" value="CHP engine" {% if data.techtechnology=="CHP engine" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-3">
                                CHP engine
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-4" name="techtechnology" type="radio" value="CHP fuel cell" {% if data.techtechnology=="CHP fuel cell" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-4">
                                CHP fuel cell
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-5" name="techtechnology" type="radio" value="CHP gas turbine or Combined Cycle Plant" {% if data.techtechnology=="CHP gas turbine or Combined Cycle Plant" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-5">
                                CHP gas turbine or Combined Cycle Plant
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-6" name="techtechnology" type="radio" value="CHP Organic Rankine Cycle" {% if data.techtechnology=="CHP Organic Rankine Cycle" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-6">
                                CHP Organic Rankine Cycle
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-7" name="techtechnology" type="radio" value="CHP Steam Turbine or Steam Screw" {% if data.techtechnology=="CHP Steam Turbine or Steam Screw" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-7">
                                CHP Steam Turbine or Steam Screw
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-8" name="techtechnology" type="radio" value="Expander" {% if data.techtechnology=="Expander" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-8">
                                Expander
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-9" name="techtechnology" type="radio" value="Heat exhanger from waste heat recovery process" {% if data.techtechnology=="Heat exhanger from waste heat recovery process" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-9">
                                Heat exhanger from waste heat recovery process
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-10" name="techtechnology" type="radio" value="Heat pump" {% if data.techtechnology=="Heat pump" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-10">
                                Heat pump
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-11" name="techtechnology" type="radio" value="Solar thermal panels" {% if data.techtechnology=="Solar thermal panels" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="techtechnology-11">
                                Solar thermal panels
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="techtechnology-11" name="techtechnology" type="radio" value="Other" {% if data.techtechnology=="Other" %}checked{% endif %} data-aria-controls="conditional-techtechnology">
                            <label class="govuk-label govuk-radios__label" for="techtechnology-11">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional" id="conditional-techtechnology">
                            <div class="govuk-form-group {% if data.validationErrors.techtechnologyother %}govuk-form-group--error{% endif %}">
                                <label class="govuk-label" for="techtechnologyother">
                                    Name of technology
                                </label>
                                {% if data.validationErrors.techtechnologyother %}
                                <p class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    {{data.validationErrors.techtechnologyother.message}}
                                </p>
                                {% endif %}
                                <input class="govuk-input {% if data.validationErrors.techtechnologyother %}govuk-input--error{% endif %}" id="techtechnologyother" name="techtechnologyother" type="text" spellcheck="false" value="{{data.techtechnologyother}}">
                            </div>
                        </div>
                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>

    </div>

</div>

{% endblock %}