{% extends 'layouts/main.html' %}
{% set title = "What year did the network first start using this combination?" %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ super() }}
        </div>
    </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <form  method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.techwhen %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - energy centres</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">
                        <strong>Technology</strong><br />
                        {{data.techtechnology}}
                    </p>
                    <p class="govuk-body">
                        <strong>Energy source</strong><br />
                        {{data.techenergysource}}
                    </p>
                    <div id="supply-date-hint" class="govuk-hint">
                        For example 2020
                    </div>

                                        {% if data.validationErrors.techwhen %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.techwhen.message}}
                    </p>
                    {% endif %}
                    <div class="govuk-date-input" id="supply-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="supply-date-year">
                                    Year
                                </label>
                                <input class="govuk-input {% if data.validationErrors.techwhen %}govuk-input--error{% endif %} govuk-date-input__input govuk-input--width-4" id="supply-date-year" name="techwhenyear" type="text" inputmode="numeric" value="{{data.techwhenyear}}">
                            </div>
                        </div>
                    </div>


                </fieldset>


            </div>
            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>
        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}