{% extends 'layouts/main.html' %}
{% set title = "Is there a procedure in place for domestic consumers and microbusinesses to raise a complaint?" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.protection %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - consumer protections</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>

                    {% if data.validationErrors.protections %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.protection.message}}
                    </p>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="protection" name="protection" type="radio" value="Yes" {% if data.protection == "Yes" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="protection">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="protection-2" name="protection" type="radio" value="No" data-aria-controls="protectionconditional" {% if data.protection == "No" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="protection-2">
                                No
                            </label>
                        </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="protectionconditional">
                                <p class="govuk-body">You will need to make sure you have one by [date TBC]</p>
                            </div>

                    </div>

                </fieldset>

            </div>
                            <p class="govuk-body">We may request this from you in the future.</p>

                        <input type="hidden" id="protectionscomplete" name="protectionscomplete" value="true" />

            {{
                govukButton ({
                    html: 'Save and continue'
                })
            }}
        </form>
        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}