{% extends 'layouts/main.html' %}

    {% set title = "What class of building is this?" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ super() }}
        </div>
    </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
            govukBackLink ({
                text: 'Back',
                href: 'javascript:history.back()'
            })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}



        <form method="POST" novalidate>
                                <div class="govuk-form-group {% if data.validationErrors.buildingclass %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - buildings and consumers</span>

                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>
                    </legend>

                    {% if data.buildinglocationAddress %}
                    <div class="govuk-inset-text">
                        {% set address = data.buildinglocationAddress.toString() %}
                        {{address | replace(", , ", ",<br />") | replace(", ", ",<br />") | safe}}
                    </div>
                    {% endif %}


                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Help with building classes
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            See <a href="https://www.legislation.gov.uk/uksi/2020/1221/regulation/4/made" target="_blank" rel="noreferrer noopener" class="govuk-link">section 2A of The Heat Network (Metering and Billing) (Amendment) Regulations 2020 (opens in new tab)</a>.
                        </div>
                    </details>

                    
                    {% if data.validationErrors.buildingclass %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.buildingclass.message}}
                    </p>
                    {% endif %}


                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="buildingclass-open"  name="buildingclass" type="radio" value="Open"  {% if data.buildingclass == "Open" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="buildingclass-open">
                                Open class
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="buildingclass-viable"  name="buildingclass" type="radio" value="Viable"  {% if data.buildingclass == "Viable" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="buildingclass-viable">
                                Viable class
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="buildingclass-exempt"  name="buildingclass" type="radio" value="Exempt"  {% if data.buildingclass == "Exempt" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="buildingclass-exempt">
                                Exempt class
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>


                {{
                govukButton ({
                    html: 'Save and continue'
                })
                }}
        </form>
        <a href="cancel" class="govuk-link">Cancel</a>
    </div>

</div>

{% endblock %}