{% extends 'layouts/main.html' %}
{% set title = "Are any of your commercial customers 'microbusinesses'?" %}
{% set _inError = data.validationError == "true"  %}


{% block pageTitle %}
{{title}}
{% endblock %}

{% block beforeContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ super() }}
        </div>
    </div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


        {{
 govukBackLink ({
                    text: 'Back',
                    href: 'javascript:history.back()'
                })
        }}

    </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in data.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST" novalidate>

            <div class="govuk-form-group {% if data.validationErrors.consumertypemicrobusiness %}govuk-form-group--error{% endif %}">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Add a heat network - introduction</span>
                        <h1 class="govuk-fieldset__heading">
                            {{title}}
                        </h1>

                    </legend>
                    <p class="govuk-body">These are businesses that either:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>consume less than 247,000 kWh of heat per year</li>
                        <li>have less than 10 full-time employees</li>
                        <li>turn over less than &pound;2 million per year</li>
                    </ul>
                    <p class="govuk-body">We need to know this, as you'll have different obligations if the network supplies this type of customer.</p>

                    {% if data.validationErrors.consumertypemicrobusiness %}
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{data.validationErrors.consumertypemicrobusiness.message}}
                    </p>
                    {% endif %}


                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="consumertypemicrobusiness" name="consumertypemicrobusiness" type="radio" value="Yes" {% if data.consumertypemicrobusiness == "Yes" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="consumertypemicrobusiness">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="consumertypemicrobusiness-2" name="consumertypemicrobusiness" type="radio" value="No" {% if data.consumertypemicrobusiness == "No" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="consumertypemicrobusiness-2">
                                No
                            </label>
                        </div>
                    </div>

            </fieldset>


    </div>
    {{
                govukButton ({
                    html: 'Continue'
                })
    }}
    </form>
    <a href="cancel" class="govuk-link">Cancel</a>
</div>

</div>

{% endblock %}