{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Iterations</h2>

    

    {{ govukSummaryList ({
      rows: [
      {
        key: {
          text: 'Add heat network'
        },
        value: {
          text: 'Register a new heat network flow'
        },
        actions: {
          items: [
            {
              text: 'Open',
              href: '/account-information'
            }
          ]
        }
      }
]
    }) }}

  </div>
</div>

{% endblock %}
